body {
  background-image: url('/static/img/background-6.jpg');
  font-family: 'Montserrat', cursive;
  padding-top: 150px; 
  margin-left: 20px;
  margin-right: 20px;
}

.alert-custom {
  background-color: #FAFCEE;
}

.text-info {
  color: #7EA3B0;
}

.btn-info {
  background-color: #7EA3B0;
}

.btn-success {
  background-color: #2F572A;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

#create-account {
  display: none;
}

.tooltip {
  font-family: 'Montserrat', cursive;
  font-size: 18px;
}

.tooltip-inner {
  background-color: #7EA3B0;
  max-width: 703px;
}

.tooltip .arrow::before {
  border-top-color: #7EA3B0;
  border-bottom-color: #7EA3B0;
  border-left-color: #7EA3B0;
  border-right-color: #7EA3B0;
}

.material-icons {
  font-size: 16px;
}

.plaque {
  padding: 30px;
  background-color: #FAFCEE
}

.plaque-2 {
  padding: 15px;
  background-color: #FAFCEE
}

.border-custom {
  border-width: 2px;
  border-color: #2F572A;
}
