body {
  background-image: url('/static/img/background-6.jpg');
  font-family: cursive;
  padding-top: 150px; 
}

#create-account {
  display: none;
}

.tooltip {
  font-family: cursive;
  font-size: 16px;
}

.tooltip-inner {
  background-color: #00acd6;
  max-width: 600px;
}

.tooltip .arrow:before {
    border-right-color: #00acd6;
}