body {
  background-image: url('/static/img/background-6.jpg');
  font-family: cursive;
  padding-top: 150px; 
}

.text-info {
  color: #7EA3B0;
}

.btn-info {
  background-color: #7EA3B0;
}

#create-account {
  display: none;
}

.tooltip {
  font-family: cursive;
  font-size: 16px;
}

.tooltip-inner {
  background-color: #00acd6;
  max-width: 600px;
}

.tooltip .arrow:before {
    border-right-color: #00acd6;
}

.material-icons {
  font-size: 16px;
}

.plaque {
  padding: 30px;
  background-color: #FAFCEE
}

.plaque-2 {
  padding: 15px;
  background-color: #FAFCEE
}
