<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, 
  shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
  crossorigin="anonymous">
  <!-- For show/hide eye icon -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Bootstrap show/hide password -->
  <script src="bootstrap-show-password.js"></script>

  <!-- Google font Montserrat -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

  <!-- Our custom style -->
  <link rel="stylesheet"
  href="/static/css/style.css">



<!--     <script crossorigin src="https://unpkg.com/react@16/umd/
                             react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/
                             react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/
                             libs/babel-standalone/6.26.0/babel.js"></script> -->


</head>
<body>

  {% if "gardener_id" not in session %}
    <nav class="navbar navbar-light fixed-top" style="background-color: #FAFCEE">

      <img src="/static/img/Garden_Knowledge-green.png" style="width: 5rem;">

      <div id="log-in">
        <h4>Log in</h4>
        <form action = "/login" class="form-inline" method="POST">
          <label for="username">username</label>&nbsp;
          <input type = "text" class="form-control form-control col-2" id="username" name="username">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label for="password">password</label>&nbsp;
          <input type = "password" class="form-control form-control col-6" data-eye-class="material-icons" data-eye-open-class="visibility" data-eye-close-class="visibility_off" data-eye-class-position-inside="true" id="password" name="password">   
          <button type="submit" class="btn btn-info">Log In</button>
        </form>
      </div>

      <div id="new-here">
        <h4>Or if new</h4>
        <button type="submit" class="btn btn-info" onClick="createAccount()">Create Account</button>
      </div>
    

      <div id="create-account">
        <h4>Create account</h4>
        <form action = "/create-gardener" class="form-inline" method="POST">
          <label for="username">username</label>&nbsp;
          <input type = "text" class="form-control form-control col-2" id="username" name="username">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label for="password">password</label>&nbsp;
          <input type = "password" class="form-control form-control col-6" data-eye-class="material-icons" data-eye-open-class="visibility" data-eye-close-class="visibility_off" data-eye-class-position-inside="true" id="password" data-toggle="password" name="password">   
          <button type="submit" class="btn btn-info" onClick="showLogIn()">Create Account</button>
        </form>
      </div>

    </nav>
  {% endif %}


  {%if "gardener_id" in session %}
    <nav class="navbar navbar-light fixed-top" style="background-color: #FAFCEE">

      <img src="/static/img/Garden_Knowledge-green.png" style="width: 5rem;">

      <form action="/logout">
        <button type="submit" class="btn btn-info">Log out</button>
      </form>

    </nav>
  {% endif %}

  <div class="container">

  {% for msg in get_flashed_messages() %}

    <div class="alert alert-custom">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ msg }}
    </div>

  {% endfor %}

  </div>


  {% block body %}
  {% endblock %}


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
  crossorigin="anonymous">
  </script>
  <script 
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
  crossorigin="anonymous">
  </script>
  <script 
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" 
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" 
  crossorigin="anonymous">
  </script>
  <script 
  src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js">
  </script>

  <script src="/static/js/homepage.js"></script>

</body>
</html>