{% extends 'base.html' %}

{% block body %}

  <h1 class="text-white">Here are your favorites!</h1>

  <br></br>

  <!--   <h2>{{crop_favorite_list}}</h2> -->

  {# <h7 class="text-white"> {{soil_dictionary}}</h7>

  <h7 class="text-white"> {{zone_month_dictionary}}</h7>

  <h7 class="text-white"> {{shade_difficulty_dictionary}}</h7> #}


  {% for crop in crop_favorite_list %}
    <div class="card" style="width: 80rem;">
      <img 
      src="https://res-4.cloudinary.com/do6bw42am/image/upload/c_scale,f_auto,h_300/v1/{{crop['image_url']}}" 
      style="width: 20rem;">

      <div class="card-body">
        <h3>Name: {{crop['name']}}</h3>
      </div>


      <ul class="list-group list-group-flush">
        <li class="list-group-item">How to grow from seed: {{crop['growing_from_seed']}}</li>
        <li class="list-group-item">How to transplant: {{crop['transplanting']}}</li>
        <li class="list-group-item">Spacing: {{crop['spacing']}}</li>
        <li class="list-group-item">Watering: {{crop['watering']}}</li>
        <li class="list-group-item">Feeding: {{crop['feeding']}}</li>
        <li class="list-group-item">Planting months by plant hardiness zone:<br></br>
          2: {{zone_month_dictionary[crop['crop_id']][2]|join(', ')}}<br></br>
          3: {{zone_month_dictionary[crop['crop_id']][3]|join(', ')}}<br></br>
          4: {{zone_month_dictionary[crop['crop_id']][4]|join(', ')}}<br></br>
          5: {{zone_month_dictionary[crop['crop_id']][5]|join(', ')}}<br></br>
          6: {{zone_month_dictionary[crop['crop_id']][6]|join(', ')}}<br></br>
          7: {{zone_month_dictionary[crop['crop_id']][7]|join(', ')}}<br></br>
          8: {{zone_month_dictionary[crop['crop_id']][8]|join(', ')}}<br></br>
          9: {{zone_month_dictionary[crop['crop_id']][9]|join(', ')}}<br></br>
          10: {{zone_month_dictionary[crop['crop_id']][10]|join(', ')}}<br></br>
          11: {{zone_month_dictionary[crop['crop_id']][11]|join(', ')}}<br></br>
        </li>
        <li class="list-group-item">
        Shade preference: {{shade_difficulty_dictionary[crop['crop_id']]['shade_ok']}}</li>
        <li class="list-group-item">
        Soil type preference: {{soil_dictionary[crop['crop_id']]['soil_type']|join(', ')}}</li>
        <li class="list-group-item">
        Soil pH preference: {{soil_dictionary[crop['crop_id']]['soil_ph']|join(', ')}}</li>
        <li class="list-group-item">
        Difficulty: {{shade_difficulty_dictionary[crop['crop_id']]['difficulty']}}</li>
        <li class="list-group-item">
        Crop ID: {{crop['crop_id']}}</li>
      </ul>
    </div>
    <br></br>
  {% endfor%}


  <h2 class="text-white">Return to homepage</h2>
  <form action="/">
    <button type="submit" class="btn btn-info btn-lg">Homepage</button>
  </form>

  <br></br>

{% endblock %}