{% extends 'base.html' %}

{% block body %}

  <h1 class="text-white">Here are your favorites!</h1>

  <br></br>

  <!--   <h2>{{crop_favorite_list}}</h2> -->

  <h7 class="text-white"> {{condition_refined_dictionary_2}}</h7>

  <h7 class="text-white"> {{condition_refined_dictionary}}</h7>


  {% for crop in crop_favorite_list %}
    <div class="card" style="width: 80rem;">
      <img src="https://res-4.cloudinary.com/do6bw42am/image/upload/c_scale,f_auto,h_300/v1/{{crop['image_url']}}" style="width: 20rem;">

      <div class="card-body">
        <h3>Name: {{crop['name']}}</h3>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">How to grow from seed: {{crop['growing_from_seed']}}</li>
        <li class="list-group-item">How to transplant: {{crop['transplanting']}}</li>
        <li class="list-group-item">Spacing: {{crop['spacing']}}</li>
        <li class="list-group-item">Watering: {{crop['watering']}}</li>
        <li class="list-group-item">Feeding: {{crop['feeding']}}</li>
        <li class="list-group-item">Crop ID: {{crop['crop_id']}}</li>
      </ul>
    </div>
    <br></br>
  {% endfor%}


  <h2 class="text-white">Return to homepage</h2>
  <form action="/">
    <button type="submit" class="btn btn-info btn-lg">Homepage</button>
  </form>

  <br></br>

{% endblock %}