{% extends 'base.html' %}

{% block body %}
  <h1>Welcome to Garden Knowledge!</h1>

  <br></br>

  {% if "gardener_id" not in session %}
  <section>
    <h2>Log in</h2>
    <form action = "/login" method="POST">
      <label for="username">username</label>
      <input type = "text" id="username" name="username">

      <label for="password">password</label>
      <input type = "text" id="password" name="password">   

      <input type="submit">
    </form>

    <h1>OR</h1>
    <h2>Create account if new here</h2>
    <form action = "/create-gardener" method="POST">
      <label for="username">username</label>
      <input type = "text" id="username" name="username">

      <label for="password">password</label>
      <input type = "text" id="password" name="password">   

      <input type="submit">
    </form>
  </section>
  <br></br>
  <br></br>
  {% endif %}
  

  {%if "gardener_id" in session %}
  <form action="/logout">
    <button type="submit">Log out</button>
  </form>
  <br></br>
  <br></br>
  {% endif %}

  <section>
    <h2>Begin your search</h2>
    <form action="/results" id="query">
      <label for="city">Please enter your city</label>
      <input type="text" id="city-field" name="city">

      <label for="shade_ok">Will your plants be in the shade?</label>
      <select name="shade_ok">
        <option value="yes">yes</option>
        <option value="no">no</option>
      </select>

      <label for="soil_type">Will you be planting in loamy or sandy soil?</label>
      <select name="soil_type">
        <option value="loamy">loamy</option>
        <option value="sandy">sandy</option>
        <option value="both">loamy and sandy</option>
        <option value="unknown">unknown</option>
      </select>

      <button type="submit">Search</button>
    </form>
  </section>
  
  {%if "gardener_id" in session %}
    <br></br>
    <br></br>
    <h2>Ready to see all your favorites?</h2>
    <form action="/favorites">
      <button type="submit">Go to favorites</button>
    </form>
  {% endif %}

{% endblock %}